In [33]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [34]:
df = pd.read_csv("D:\\dsml8\supply_test.csv")

In [35]:
#preprocessing test dataset

In [36]:
df.head()

,Unnamed: 0,Ware_house_ID,WH_Manager_ID,Location_type,WH_capacity_size,zone,WH_regional_zone,num_refill_req_l3m,transport_issue_l1y,Competitor_in_mkt,...,electric_supply,dist_from_hub,workers_num,wh_est_year,storage_issue_reported_l3m,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown_l3m,govt_check_l3m,product_wg_ton
0,16621,WH_116621,EID_66621,Rural,Large,North,Zone 5,5,0,3,...,0,156,30.0,2006.0,24,0,A,2,5,30132
1,16622,WH_116622,EID_66622,Rural,Large,North,Zone 5,5,0,2,...,1,79,31.0,2019.0,5,1,C,2,24,6075
2,16623,WH_116623,EID_66623,Rural,Small,North,Zone 6,3,0,3,...,1,70,41.0,2008.0,19,1,A+,5,9,24076
3,16624,WH_116624,EID_66624,Rural,Mid,West,Zone 4,5,2,2,...,1,255,33.0,2017.0,9,1,A+,3,11,13092
4,16625,WH_116625,EID_66625,Urban,Mid,North,Zone 4,6,0,4,...,0,205,20.0,1999.0,25,0,B,4,26,29071

In [37]:
col_to_drop = ["Unnamed: 0", "Ware_house_ID", "WH_Manager_ID", "wh_est_year", "approved_wh_govt_certificate", "Location_type", "flood_impacted", "flood_proof"]

In [38]:
df.drop(col_to_drop, axis = 1, inplace = True)

In [39]:
def cat_num(df):
  cat = df.select_dtypes(include=['object']).columns.tolist()
  num = df.select_dtypes(exclude=['object']).columns.tolist()
  return cat, num

In [40]:
cat, num = cat_num(df)

In [41]:
cat

['WH_capacity_size', 'zone', 'WH_regional_zone', 'wh_owner_type']

In [42]:
df1 = df.copy()

In [43]:
df1 = pd.get_dummies(df1, columns=cat, drop_first=True)

In [44]:
df1.head()

,num_refill_req_l3m,transport_issue_l1y,Competitor_in_mkt,retail_shop_num,distributor_num,electric_supply,dist_from_hub,workers_num,storage_issue_reported_l3m,temp_reg_mach,...,WH_capacity_size_Small,zone_North,zone_South,zone_West,WH_regional_zone_Zone 2,WH_regional_zone_Zone 3,WH_regional_zone_Zone 4,WH_regional_zone_Zone 5,WH_regional_zone_Zone 6,wh_owner_type_Rented
0,5,0,3,5590,15,0,156,30.0,24,0,...,False,True,False,False,False,False,False,True,False,False
1,5,0,2,5856,40,1,79,31.0,5,1,...,False,True,False,False,False,False,False,True,False,False
2,3,0,3,4803,40,1,70,41.0,19,1,...,True,True,False,False,False,False,False,False,True,True
3,5,2,2,4784,15,1,255,33.0,9,1,...,False,False,False,True,False,False,True,False,False,True
4,6,0,4,3699,24,0,205,20.0,25,0,...,False,True,False,False,False,False,True,False,False,True

In [45]:
cat, num = cat_num(df1)

In [46]:
cat

[]

In [47]:
df2 = df1.copy()

In [48]:
df2.head()

,num_refill_req_l3m,transport_issue_l1y,Competitor_in_mkt,retail_shop_num,distributor_num,electric_supply,dist_from_hub,workers_num,storage_issue_reported_l3m,temp_reg_mach,...,WH_capacity_size_Small,zone_North,zone_South,zone_West,WH_regional_zone_Zone 2,WH_regional_zone_Zone 3,WH_regional_zone_Zone 4,WH_regional_zone_Zone 5,WH_regional_zone_Zone 6,wh_owner_type_Rented
0,5,0,3,5590,15,0,156,30.0,24,0,...,False,True,False,False,False,False,False,True,False,False
1,5,0,2,5856,40,1,79,31.0,5,1,...,False,True,False,False,False,False,False,True,False,False
2,3,0,3,4803,40,1,70,41.0,19,1,...,True,True,False,False,False,False,False,False,True,True
3,5,2,2,4784,15,1,255,33.0,9,1,...,False,False,False,True,False,False,True,False,False,True
4,6,0,4,3699,24,0,205,20.0,25,0,...,False,True,False,False,False,False,True,False,False,True

In [49]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [50]:
col_to_scale = ["retail_shop_num", "dist_from_hub", ]

In [51]:
df2[col_to_scale] = scaler.fit_transform(df2[col_to_scale])

In [52]:
df2["workers_num"] = df2["workers_num"].fillna(0)

In [53]:
df2 = df2.astype(int)

In [57]:
test_df2 = df2.copy()

In [58]:
#saving my new dataset to csv

In [59]:
test_df2.to_csv("D:\\dsml8\\supplychain\\test_df2.csv", index=False)